In [0]:
import  sqlite3
from sqlite3 import Error
con = sqlite3.connect("mi_tienda.db")

In [0]:
ls -la

total 16
drwxr-xr-x 1 root root 4096 Apr 18 19:34 ./
drwxr-xr-x 1 root root 4096 Apr 18 19:29 ../
drwxr-xr-x 1 root root 4096 Apr 15 16:10 .config/
-rw-r--r-- 1 root root    0 Apr 18 19:34 mi_tienda.db
drwxr-xr-x 1 root root 4096 Apr  3 16:24 sample_data/

In [0]:
cursorObj = con.cursor()

In [0]:
def sql_connection():

    try:

        con = sqlite3.connect("mi_tienda.db")

        return con

    except Error:

        print(Error)

def sql_table(con):

    cursorObj = con.cursor()

    cursorObj.execute("CREATE TABLE productos(id integer PRIMARY KEY, nombre_producto text, precio_producto real)")

    con.commit()

con = sql_connection()

sql_table(con)

In [0]:
con = sqlite3.connect("mi_tienda.db")
def sql_insert(con, entities):

    cursorObj = con.cursor()
    
    cursorObj.execute('INSERT INTO productos(id, nombre_producto, precio_producto) VALUES(?, ?, ?)', entities)
    
    con.commit()

entities = (1, 'Macbook', 4500.50)

sql_insert(con, entities)